# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc


# VS Code Settings
.vscode/

# Simulated CSVs
data/simulated/

# Database details for connection
.env

# Ignore dbt project root & temporary logs
ev_analytics_dbt/
logs/

# Ignore dashboard file due to large size of .pbix file
dashboard/