# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Validation Files
data/simulated/*validation.csv

# VS Code Settings
.vscode/

# fact_charging_sessions (ignored due to large size)
data/simulated/fact_charging_sessions.csv

# Database details for connection
.env